.signWrap4 {
    margin-top: 30px;
    text-align: center;
    padding: 20px 10px;
}
.signWrap4 .sign_word {
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}
.signWrap4 .sign_word span {
    animation: neon-4 linear infinite 2s;
}
@keyframes neon-4 {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #0b3960;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #0b3960;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #0b3960;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
.signWrap5 {
  text-align: center;
  
}
.signWrap5 .sign_word {
    margin-top: 300px;
    margin-left: 400px;
  font-size: 100px;
  font-weight: bold;
  line-height: 50px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #BFE2FF, 0 0 0.5em #BFE2FF, 0 0 0.1em #BFE2FF;
}
.signWrap5 .sign_word span {
  animation: neon-4 linear infinite 2s;
}
@keyframes neon-4 {
  78% {
      color: inherit;
      text-shadow: inherit;
  }
  79%{
      color: #0b3960;
  }
  80% {
      text-shadow: none;
  }
  81% {
      color: inherit;
      text-shadow: inherit;
  }
  82% {
      color: #0b3960;
      text-shadow: none;
  }
  83% {
      color: inherit;
      text-shadow: inherit;
  }
  92% {
      color: #0b3960;
      text-shadow: none;
  }
  92.5% {
      color: inherit;
      text-shadow: inherit;
  }
}

@media screen and (max-width: 1200px) {
    .signWrap5 .sign_word {
        margin-top: 500px;
        margin-left: 20px;
       font-size: 40px;
    }
  .signWrap4 {
  margin-top: 0px;
}
}  
@media screen and (max-width: 2000px) {
    .signWrap5 .sign_word {
        margin-top: 300px;
       font-size: 40px;
    }
  .signWrap4 {
  margin-top: 0px;
}
} 