.containerMain{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 250px;
    margin-top: 50px;
}
.Outlet{
    max-width: 500px;
}

@media screen and (max-width: 1200px) {
    .containerMain{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-left: 250px;
        margin-top: 30px;
    }
}  